services:
    transaction_validator:
        class: AppBundle\Service\TransactionValidator
        arguments: ["@form.factory"]
        public: true
    base_handler:
        class: AppBundle\Domain\Handler
        abstract:  true
        arguments: ["@event_recorder"]
    csv_parser:
      class: ParseCsv\Csv
    transaction_csv_importer:
        class: AppBundle\Service\TransactionCSVImporter
        arguments: ["@csv_parser", "@doctrine.orm.entity_manager"]
        public: true
    refund_transaction_command_handler:
        class: AppBundle\Domain\Api\Handler\RefundTransactionHandler
        parent: "base_handler"
        public: true
        arguments: ["@doctrine.orm.entity_manager"]
        tags:
            - { name: command_handler, handles: refund_transaction_action }
    add_transaction_command_handler:
        class: AppBundle\Domain\Api\Handler\AddTransactionHandler
        parent: "base_handler"
        public: true
        arguments: ["@doctrine.orm.entity_manager"]
        tags:
            - { name: command_handler, handles: add_transaction_action }
    add_transaction_command_listener:
        class: AppBundle\Domain\Api\EventListener\TransactionAddedListener
        arguments: ['@AppBundle\Domain\Api\Responder\SimpleResponder']
        public: true
        tags:
            - { name: event_subscriber, subscribes_to: transaction_added_event, method: onTransactionAdded }