services:
    transaction_validator:
        class: AppBundle\Service\TransactionValidator
        arguments: ["@form.factory"]
        public: true
    base_handler:
        class: AppBundle\Domain\Handler
        abstract:  true
        arguments: ["@event_recorder"]
    csv_parser:
      class: ParseCsv\Csv
    transaction_csv_parser:
        class: AppBundle\Service\TransactionCSVParser
        arguments: ["@csv_parser", "@doctrine.orm.entity_manager"]
        public: true
    refund_transaction_command_handler:
        class: AppBundle\Domain\Transaction\Handler\RefundTransactionHandler
        parent: "base_handler"
        public: true
        arguments: ["@doctrine.orm.entity_manager"]
        tags:
            - { name: command_handler, handles: refund_transaction_action }
    add_transaction_command_handler:
        class: AppBundle\Domain\Transaction\Handler\AddTransactionHandler
        parent: "base_handler"
        public: true
        arguments: ["@doctrine.orm.entity_manager"]
        tags:
            - { name: command_handler, handles: add_transaction_action }
    get_marketing_report_command_handler:
        class: AppBundle\Domain\Transaction\Handler\GetMarketingReportActionHandler
        parent: "base_handler"
        public: true
        arguments: ["@doctrine.orm.entity_manager"]
        tags:
            - { name: command_handler, handles: get_marketing_action }
    add_transaction_command_listener:
        class: AppBundle\Domain\Transaction\EventListener\TransactionAddedListener
        arguments: ['@AppBundle\Domain\Transaction\Responder\SimpleResponder']
        public: true
        tags:
            - { name: event_subscriber, subscribes_to: transaction_added_event, method: onTransactionAdded }
    marketing_report_listener:
        class: AppBundle\Domain\Transaction\EventListener\MarketingReportReadyListener
        arguments: ['@AppBundle\Domain\Transaction\Responder\SimpleResponder']
        public: true
        tags:
            - { name: event_subscriber, subscribes_to: marketing_report_ready_event, method: onReportReady }